body {
    padding: 30px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

.car-item img {
    width: 100%;
    height: auto;
}


* {
	box-sizing: border-box;
}

.card {
	background-color: #fff;
	border-radius: 8px;
	max-width: 300px;
	margin: 10% auto;
	height: 200px;
	position: relative;
	padding: 34px;
	color: #444;
	cursor: pointer;
	&:before {
		content: '';
		display: block;
		position: absolute;
		background-color: #ccc;
		left: 20px;
		right: 20px;
		bottom: 0;
		top: 50%;
		z-index: -1;
		box-shadow: 0 0 40px lighten(#000, 60%);
		transition: box-shadow .2s ease-in-out;
	}
	&.level-3 {
		&:hover {
			&:before {
				box-shadow: 0 0 80px lighten(#000, 60%);
			}
		}
	}
}
.weather {
    rowspan: 3;
}
.container-1{
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(250px,200px));
	grid-gap: 0.5em;
}
