

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* header section */
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #93c47d;
    color: white;
}

.header h1 {
    display: inline-block;
    font-size: 48px;
}

.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.header nav ul {
    list-style-type: none;
}

.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

/* jumbotron carousel */

.carousel {
    width: auto;
    height: auto;
    object-fit: cover;
    object-position: 50% 50%;
}

.container-carousel-hike {
    height: 600px;
    width: 100%;
    margin-bottom: 5px;
}


.car-item {
    padding: 10px;
    width: 100%;
}
/* fix arrow buttons in carousel */

.image {
    width: 100%;
}
.slider-navigation-next {
    left: auto;
    right: 12px;
}

/* main content */

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

section {
    margin-bottom: 20px;
    padding: 50px;
    height: 400px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #93c47d;
    color: #ffffff;
}


.where-to-go img {
    max-height: 200px;
}

.finding-parks img {
    max-height: 200px;
}

.weather img {
    max-height: 200px;
}

.where-to-go h2 {
    margin-bottom: 20px;
    font-size: 36px;
    color: white;
    
}

.locations h2 {
    margin-bottom: 20px;
    font-size: 36px;
    color: white;
}

.weather h2 {
    margin-bottom: 20px;
    font-size: 36px;
    color: white;
}

/* side content */

.facts {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #93c47d;
}

.facts-title {
    margin-bottom: 32px;
    color: #ffffff;
    height: min-content; 
    font-size: 30px;
    text-align: center;
}

.fact-hocking-hills {
    margin-bottom: 32px;
    color: #ffffff;
    height: min-content;
}

.fact-headlands {
    margin-bottom: 32px;
    color: #ffffff;
    height: min-content;
}

.fact-mohican {
    margin-bottom: 32px;
    color: #ffffff;
    height: min-content;
}

.fact-hocking-hills h3 {
    margin-bottom: 10px;
    text-align: center;
    font-size: 25px;
}

.fact-headlands h3 {
    margin-bottom: 10px;
    text-align: center;
    font-size: 25px;
}

.fact-mohican h3 {
    margin-bottom: 10px;
    text-align: center;
    font-size: 25px;
}

.fact-hocking-hills p {
    /*display: block;
    margin: 10px auto;
    max-width: 150px;*/
    font-size: 15px;
    text-align: center;
}

.fact-headland p {
    font-size: 15px;
    text-align: center;
}

.fact-mohican p {
    font-size: 15px;
    text-align: center;
}


/* footer */

.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer h2 {
    font-size: 20px;
}


.slider-item {
    height:600px
}


.parks-header {
    height: 10%;
}

.parks-list {
    height: 90%;
    overflow: auto;
}

.columns {
    margin: 0;
}

/* Need some inspiration to get out there and explore? */
.images h1 {
    font-size: 40px;
    text-align: center;
}

/* Take a Hike, in Ohio. && Ohio's Regional Parks ("Metroparks"): ... */
.images h2 {
    font-size: 35px;
    font-weight: bold;
    font-style: italic;
    width: auto;
}

/* the text right before/ right after videos */
.images h3 {
    font-size: 25px;
    font-weight: bold;
    font-style: oblique;
    width: auto;
}

/* descriptions of parks, under h2 elements */
.images h4 {
    font-size: 20px;
    width: auto;
}

/* Need to resize the image to grow and shrink to different screeen sizes. */
.images iframe {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 550px;
    height: 315px;
    box-shadow: 5px;
}